In [1]:
def my_max(a,b):
    print(max(a,b))

my_max(1,2)

2

In [2]:
def my_max(a,b):
    if a > b:
        return a
    else:
        return b
    
my_max(1,2)

2

In [3]:
def greeting(name='현경'):
    print(f'{name}, hi')

In [4]:
greeting()

현경, hi

In [5]:
greeting('hyunkyeng')

hyunkyeng, hi

In [6]:
print('hi', end='__')
print('bye')

hi__bye

In [7]:
#가변 인자는 튜플 형식이다. 

print('hi', '안녕', 3, sep=',')

hi,안녕,3

In [8]:
def my_func(*args):
    print(type(args))

my_func(1,2)

<class 'tuple'>

In [9]:
#정수를 여러 개 받아서 가장 큰 값을 반환(return)하는 my_max()을 만들어주세요. 단, sum(), max() 사용 금지.

def my_max(*args):
    max_num = args[0]
    for i in range(1, len(args)):
        if max_num < args[i]:
            max_num = args[i]
    return max_num

my_max(1,2,3,4)
my_max(5,4,6,3)

6

In [10]:
# 임의의 **숫자**의 인자를 받을 때의 가변인자 : *args - 튜플형식
# 정의되지 않은 인자 : **kwargs - 딕셔너리형식

In [11]:
def fake_dict(**kwargs):
    for kw in kwargs:
        print(kw, ':', kwargs[kw])
        
fake_dict(한국어="안녕", 영어="hi")

한국어 : 안녕
영어 : hi

In [12]:
#my_dict() 함수를 만들어 실제로 dictionary를 반환하는 함수를 만들어보세요.
def my_dict(**kwargs):
    return kwargs

my_dict(한국어="안녕", 영어="hi")

{'한국어': '안녕', '영어': 'hi'}

In [15]:
def user(username, password, password_confirmation):
    if password == password_confirmation:
        print(f'{username}님의 회원가입이 완료되었습니다.')
    else:
        print('비밀번호와 비밀번호 확인이 일치하지 않습니다.')
        
my_account = {
                'username': '김철수',
                'password': '1p1p1p',
                'password_confirmation': '1p1p1p'
}

In [17]:
#user(my_account)

In [18]:
user(**my_account)

김철수님의 회원가입이 완료되었습니다.

In [19]:
#문제 1. abs()

#절대값은 숫자(int, float)가 들어오면 절대값을 반환하고, 
#복소수(complex)가 들어오면 그 크기를 반환합니다. my_abs(x)를 만들어보세요.

def my_abs(x):
    if type(x) == complex:
        x = (x.real**2 + x.imag**2) ** (1/2)
        return x
    else : 
        if x == 0:
            return x ** 2
        if x < 0:
            return -x
        else:
            return x
        
print(my_abs(3+4j), my_abs(-0.0), my_abs(-5))
print(my_abs(0.0))
my_abs(0)

5.0 0.0 5
0.0

0

In [20]:
print(abs(3+4j), abs(-0.0), abs(-5), abs(0.0), abs(0))

5.0 0.0 5 0.0 0

In [21]:
#문제 2. all()
#all은 인자로 받는 iterable(range, list)의 모든 요소가 참이면 True, 
#거짓이 하나라도 있으면 False를 리턴한다. 이와 같은 my_all(x)을 작성해보세요

def my_all(x):
    for elements in x:
        if not elements:
            return False
    return True

print(my_all([1, 2, 5, '6']))
print(my_all([[], 2, 5, '6']))
print(my_all([]))
print(my_all([0]))

True
False
True
False

In [22]:
print(all([1, 2, 5, '6']))
print(all([[], 2, 5, '6']))
print(all([]))
print(all([0]))

True
False
True
False

In [23]:
#문제 3. any()
#any는 인자로 받는 iterable(range, list)의 하나라도 참이면 True를 리턴하고, 
#인자가 모두 거짓일 경우에만 False를 리턴한다. (all(x)의 반대.) 이와 같은 my_any(x)를 작성해보세요.

In [24]:
def my_any(x):
    for elements in x:
        if elements:
            return True
    return False

print(my_any([1, 2, 5, '6']))
print(my_any([[], 2, 5, '6']))
print(my_any([0]))
print(my_any([]))

True
True
False
False

In [25]:
print(any([1, 2, 5, '6']))
print(any([[], 2, 5, '6']))
print(any([0]))
print(any([]))

True
True
False
False

In [26]:
print(bin(4096), bin(5))

0b1000000000000 0b101

In [27]:
#homework 문제1. 숫자 구성된 리스트에서 양의 정수의 합을 구하는 
#함수 positive_sum을 작성하세요.

def positive_sum(numbers):
    sum = 0
    for number in numbers:
        if number > 0:
            sum += number
    return sum

print(positive_sum([1,-4,7,12]))
print(positive_sum([-1, -2, -3, -4]))

20
0

In [28]:
#homework 문제2. 주어진 문자열에서 소문자 모음을 제거하는 함수 shortcut을 작성하세요.

def shortcut(input_str):
    vowel = ['a', 'e', 'i', 'o', 'u']
    output_str = ''
    for i in input_str:
        if i not in vowel:
            output_str += i
    return output_str

shortcut("Life is too short, you need python")

'Lf s t shrt, y nd pythn'

In [29]:
#homework 문제3. 문자열 요소로만 이루어진 리스트를 넣었을 때, 문자열 길이가 2 이상이고 
#주어진 문자열의 첫번째와 마지막 문자가 같은 문자열의 수를 세는 함수 start_end를 작성하시오.

In [30]:
def start_end(words):
    count = 0
    for word in words:
        if len(word) >= 2 and word[0] == word[-1]:
            count += 1
    return count

start_end(['level', 'asdwe', 's', 'abceda', 'gsdwrtfg'])

3

In [31]:
#리스트 컨프리핸션 풀이

def start_end(words):
    return len([word for word in words if len(word) >= 2 and word[0] == word[-1]])

start_end(['level', 'asdwe', 's', 'abceda', 'gsdwrtfg'])

3

In [32]:
#homework 문제4. 1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.

#입력된 수가 짝수라면 2로 나눕니다.
#입력된 수가 홀수라면 3을 곱하고 1을 더합니다.
#결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다.
#예를 들어, 입력된 수가 6이라면 6→3→10→5→16→8→4→2→1 이 되어 총 8번 만에 1이 됩니다.

#위 작업을 몇 번이나 반복해야하는지 반환하는 함수, collatz를 완성해 주세요.

#단, 작업을 500번을 반복해도 1이 되지 않는다면 –1을 반환해 주세요.

In [33]:
def collatz(number):
    for i in range(500):
        number = number/2 if number % 2 == 0 else number*3 +1
        if number == 1:
            return i +1
    return -1

print(collatz(6)) #=> 8
print(collatz(16)) #=> 4
print(collatz(626331)) #=> -1

8
4
-1

In [34]:
#문제 5. 리스트가 주어집니다. 리스트의 각 요소는 숫자 0부터 9까지로 이루어져 있습니다.
#이때, 리스트에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다.
#리스트에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 반환하는 lonely 함수를 작성해 주세요.
#단, 제거된 후 남은 수들을 반환할 때는 리스트의 요소들의 순서를 유지해야 합니다.

def lonely(input_list):
    ex_num = input_list[0]
    L = [ex_num]
    for num in input_list:
        if ex_num != num:
            L.append(num)
            ex_num = num
    return L

print(lonely([1, 1, 3, 3, 0, 1, 1]))
print(lonely([4,4,4,3,3]))

[1, 3, 0, 1]
[4, 3]

In [35]:
#문제 6. 영어 이름은 가운데 이름은 가지는 경우가 있는데 가운데 이름을 대문자로 
#축약해서 나타내는 함수 'shorten'함수를 작성해보세요

def shorten(name):
    names = name.split()
    for i in range(1, len(names)-1):
        names[i] = name[i][0].upper() +'.'
    return ' '.join(names)

shorten('Alice betty catherine David')

'Alice L. I. David'

In [36]:
def a(num):
    a = num
    b = num+1
    return a, b
a(1)

(1, 2)

In [37]:
def my_mul(a, b = 1):
    return a * b

print(my_mul(6))
print(my_mul(3,5))

6
15

# 문자열 계산하기

아래와 같이 문자열이 주어졌을 때, 바보같은 사용자를 위해 계산을 해주려고 한다.
이 계산기는 더하기와 빼기밖에 못한다.
calc(equation)을 만들어봅시다.

In [38]:
def calc(equation):       #한번 리플레이스해도 문자열이 반환되므로 한번 더 할 수 있다. 
    equation = equation.replace('+', ' +').replace('-', ' -')
    return sum(map(int, equation.split()))
print(calc('123+2-124'))
print(calc('-12+12-7979+9191'))
print(calc('+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1'))

1
1212
0

In [39]:
# 함수 기본값 지정
def greeting(name='ssafy'):
    print(f'{name}, 안녕')
    
greeting()
greeting('철수')

ssafy, 안녕
철수, 안녕

In [42]:
a = [2,3,1,5,3,4]
new_a =sorted(a)

In [43]:
new_a

[1, 2, 3, 3, 4, 5]

In [44]:
a.sort()

In [45]:
a

[1, 2, 3, 3, 4, 5]

In [47]:
while True:
    pass

KeyboardInterrupt:

In [49]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [50]:
class Person:
    pass

p=Person()
print(p)

<__main__.Person object at 0x000001408D98C358>

In [52]:
class Person:
    name = '이현경'
    def sayhello(self):
        print(f"hello, I'm {self.name}")

In [53]:
iu = Person()

In [54]:
iu.sayhello()

hello, I'm 이현경

In [55]:
iu.name

'이현경'

In [56]:
iu.name = 'iu'

In [57]:
iu.name

'iu'

In [58]:
iu.sayhello()

hello, I'm iu

In [59]:
isinstance(iu, Person)

True

In [78]:
class Person:
    name
    
    def greeting(self):
        print(f'{self.name}')

iu = Person('이현경')
iu.greeting()
iu.name = '아이유'

이현경

In [79]:
iu.greeting()

아이유

In [65]:
Person.greeting(iu)

이현경

In [154]:
name = '?'
class Person:
    name = '홍길동'
    def greeting(self):
        print(f'{self.name}')    #self.name를 안썼기 때문에 클래스 밖에 있는 name이 호출됨

In [118]:
p1 = Person()
print(p1.name)
p1.greeting()

홍길동
홍길동

In [69]:
iu.__init__()

In [80]:
class Person:
    def __init__(self):
        print('하이')
    def __del__(self):
        print('바이')

In [81]:
p1 = Person()

하이

In [82]:
del p1

바이

In [171]:
class Person:
    def __init__(self, name):
        print(f'하이, {name}')
    def __del__(self):
        print('바이')

In [172]:
p1 = Person('이현경')

하이, 이현경

In [173]:
p1.name

AttributeError: 'Person' object has no attribute 'name'

바이

In [174]:
class Person:
    population = 0
    def __init__(self, name):
        self.name = name
        Person.population += 1
        
    def greeting(self):
        print(f'{self.name} 입니다. 반가워요')

In [175]:
me = Person('이현경')

In [176]:
me.name

'이현경'

In [158]:
me.greeting()

? 입니다. 반가워요

In [145]:
Person.population

1

In [146]:
me.population

1

In [177]:
Person.greeting()

TypeError: greeting() missing 1 required positional argument: 'self'

In [182]:
class Dog:
    num_of_dog = 0
    def __init__(self, name, age):
        self.name = name
        self.age = age
        Dog.num_of_dog += 1
    def bark(self):
        print(f'멍멍 {self.name}')
    @staticmethod
    def info():
        print('개입니다')

In [183]:
puppy = Dog('마로', 6)
poodle = Dog('초롱이', 12)
nurung = Dog('토리', 2)

In [184]:
puppy.bark()

멍멍 마로

In [186]:
Dog.info()

개입니다

In [187]:
class Dog:
    num_of_dog = 0
    def __init__(self, name, age):
        self.name = name
        self.age = age
        Dog.num_of_dog += 1
    def bark(self):
        print(f'멍멍 {self.name}')
    
    @classmethod
    def count(cls):
        print(cls)
        print(f'{cls.num_of_dog} 마리')

In [188]:
Dog.count()

<class '__main__.Dog'>
0 마리

In [189]:
class Calculator:
    
    @staticmethod
    def add(a, b):
        return a+b

In [190]:
Calculator.add(1,4)

5

In [202]:
class Stack:
    def __init__(self):
        self.items = []
        
    def empty(self):
        return not self.items
    
    def top(self):
        return self.items[-1]
    
    def pop(self):
        if self.items:
            return self.items.pop()
        
    def push(self, elem):
        self.items.append(elem)

In [203]:
s1 = Stack()

In [204]:
s1.push('hi')

In [205]:
print(s1)

<__main__.Stack object at 0x000001408DBB37F0>

In [206]:
s1.empty()

False

In [208]:
s1.items

['hi']

In [210]:
s1.pop()

'hi'

In [219]:
class Person:
    population = 0
    def __init__(self, name, age):
        self.name = name
        self.age = age
        Person.population += 1
    def greeting(self):
        print(f'{self.name} 입니다. 반가워요')
    def __add__(self, other):
        return f'나이 합은 {self.age + other.age}'
    def __sub__(self, other):
        return f'나이 합은 {self.age - other.age}'

In [220]:
# 연산자를 호출해봅시다.
p1 = Person('아저씨', 40)
p2 = Person('청소년', 16)

In [221]:
p1.age

40

In [222]:
p1 + p2

'나이 합은 56'

In [223]:
class Person:
    def __init__(self, name):
        self.name = name
    def greeting(self):
        print(f'안녕하세요, {self.name} 입니다.')

In [224]:
class Student(Person):
    def __init__(self, name, student_id):
        self.name = name
        self.student_id = student_id

In [225]:
s1 = Student('현경', '00100')

In [226]:
s1.greeting()

안녕하세요, 현경 입니다.

In [227]:
issubclass(Person, Student)

False

In [228]:
issubclass(Student, Person)

True

In [229]:
if True: print('참')

참

In [230]:
if True:
    print('참')

참

In [231]:
round(3.5)

4

In [233]:
import random
random.choice([1, 2, 3])

3

In [234]:
print("78".isdecimal())
print("78".isdigit())
print("78".isnumeric())

True
True
True

In [235]:
print('\u00B2')
print('\u00B2'.isdecimal())
print('\u00B2'.isdigit())
print('\u00B2'.isnumeric())

²
False
True
True

In [236]:
print("\u00BC")
print("\u00BC".isdecimal())
print("\u00BC".isdigit())
print("\u00BC".isnumeric())

¼
False
False
True

In [240]:
str_test = 'Hello word from ssafy'
print(''.join(reversed(str_test)))

yfass morf drow olleH

In [241]:
print('Hello word from ssafy'[::-1])

yfass morf drow olleH

In [245]:
cafe = ['starbucks', 'tomntoms', 'hollys']
cafe.extend(['angel', 'bbaek'])    #extend 는 리스트 형태로 넣으면 각각 단어가 들어간다. 
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'angel', 'bbaek']

In [243]:
cafe += ['mcafe', 'coffebean']
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'angel', 'bbaek', 'mcafe', 'coffebean']

In [246]:
cafe.extend('twosome')     #extend 는 리스트 형태로 넣지 않으면 각각 알파벳이 들어간다.
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'angel', 'bbaek', 't', 'w', 'o', 's', 'o', 'm', 'e']

In [247]:
numbers = [1, 2, 3, 1, 2]
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [248]:
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [249]:
numbers = [1, 2, 3, 1, 2]
numbers.index(1)

0

In [250]:
import random

lotto = random.sample(range(1,46), 6)
lotto.sort()

print(lotto)

[13, 14, 15, 17, 41, 45]

In [251]:
lotto.sort(reverse=True)  # 역순으로 정렬
print(lotto)

[45, 41, 17, 15, 14, 13]

In [252]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]
copy_list = original_list
print(original_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [253]:
print(original_list)
# b의 값을 바꾸고 a를 출력해봅시다.
copy_list[0] = 5
print(original_list)
print(copy_list)

[1, 2, 3]
[5, 2, 3]
[5, 2, 3]

In [254]:
print(id(copy_list) == id(original_list))   #아이디가 같기 때문에 복사본을 바꿔도 원본이 바뀐다. 
print(copy_list is original_list)

True
True

In [255]:
a = 20005
b = a
b = 30005
print(a)

20005

In [256]:
lunch = {'김밥천국' : '치즈라면', '김가네' : '제육볶음'}
print(lunch)
dinner = lunch
dinner['김밥천국'] = '참치김밥'
print(lunch)

{'김밥천국': '치즈라면', '김가네': '제육볶음'}
{'김밥천국': '참치김밥', '김가네': '제육볶음'}

In [261]:
a = [1, 2, 3]
b = a   
b[0] = 5
print(a)

[5, 2, 3]

In [257]:
a = [1, 2, 3]
b = a[:]    # a[:] 는 a의 전체요소, 이렇게 복사하며 id값이 다르게 복사된다.
b[0] = 5
print(a)

[1, 2, 3]

In [258]:
a = [1, 2, 3]
b = list(a)
b[0] = 5
print(a)

[1, 2, 3]

In [259]:
import copy
a = [1, 2, [1, 2]]
b = copy.deepcopy(a)   #딥카피를 하면 다른 참조로 복사된다.
b[2][0] = 3
print(a)

[1, 2, [1, 2]]

In [262]:

slice_list = list(range(1, 11))
print(slice_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [263]:

# 처음부터 3번 인덱스까지
slice_list[0:4]   #마지막 인덱스는 포함되지 않는다.

[1, 2, 3, 4]

In [264]:
# 처음부터 끝까지 두 칸 간격으로
slice_list[::2]

[1, 3, 5, 7, 9]

In [265]:
# 간격이 명시되면 start, end 값은 동시에 생략 가능
slice_list[::2]

[1, 3, 5, 7, 9]

In [266]:

# 리스트 전체에 대한 사본
slice_list[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [271]:
slice_list[8:3:-1]

[9, 8, 7, 6, 5]

In [273]:
slice_list[20:3:-1]

[10, 9, 8, 7, 6, 5]

In [270]:
# 리스트 전체를 뒤집은 사본
slice_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [274]:
str(3)

'3'

In [275]:
lunch = ['짜장면', '초밥']
for idx, menu in enumerate(lunch):
    print(idx, menu)

0 짜장면
1 초밥

In [276]:
lunch = ['짜장면', '초밥']
for idx, menu in enumerate(lunch, start=3):
    print(idx, menu)

3 짜장면
4 초밥

In [277]:
classroom = ['Kim', 'Hong', 'Kang']
list(enumerate(classroom))

[(0, 'Kim'), (1, 'Hong'), (2, 'Kang')]

In [278]:
type(list(enumerate(classroom)))

list

In [279]:
classroom = {"teacher": "Kim", "student1": "Hong", "student2": "Kang"}
for member in classroom:
    print(member)

teacher
student1
student2

In [281]:
for member in classroom:
    print(classroom[member])

Kim
Hong
Kang

In [282]:
for key in classroom.keys():
    print(key)

teacher
student1
student2

In [283]:
for key in classroom:
    print(key)

teacher
student1
student2

In [285]:
for value in classroom.values():
    print(value)

Kim
Hong
Kang

In [286]:
for key, value in classroom.items():
    print(key, value)

teacher Kim
student1 Hong
student2 Kang

In [287]:
a = '3.5'
float(a)

3.5

In [288]:
a = '3.5'
int(a)

ValueError: invalid literal for int() with base 10: '3.5'